.solutions {
  max-width: 500px;
  margin: 120px auto;
}

form.solutions-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

textarea#my-solution {
  width: 80%;
  margin: 20px auto;
}

form.solutions-form input {
  margin: 8px auto;
  border: 1px solid black;
}