.categories {
  max-width: 500px;
  margin: 120px auto;
  margin-bottom: 0;
}

.category-container {
  padding: 20px;
  margin: 60px auto;
  max-width: 500px;
}

form.categories {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 300px;
}


form.categories input {
  margin: 8px auto;
  border: 1px solid black;
  padding: 5px;
  width: 25%;
}

.filtered-solutions {
  margin-top: 0;
}