.sign-up {
  max-width: 300px;
  text-align: left;
  margin-top: 120px;
  margin: 120px auto;
}

.signup-form {
  width: 80%;
  margin: 50px auto;
}

h2 {
  text-align: center;
}

button {
  border: 1px solid #361D13;
  margin: 15px auto;
  width: 30%;
  display: block;
  background-color: #FEE3D9;
}