.landing {
  margin-top: 100px;
  height: 100vh;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F5854F;
  color: #FEE3D9
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
