 .login {
  max-width: 300px;
  text-align: left;
  margin: 120px auto;
}

.login-form {
  width: 80%;
  margin: 50px auto;
}

h2 {
  text-align: center;
}

button {
  border: 1px solid #361D13;
  margin: 15px auto;
  width: 30%;
  display: block;
  background-color: #FEE3D9;
}

.red {
  color: red;
}

form div label {
  text-align: left;
}

form div input {
  display: flex;
}