 .login {
  max-width: 300px;
  text-align: left;
  margin: 120px auto;
}

.login-form {
  width: 80%;
  margin: 50px auto;
}

.login-form input {
  width: 100%;
}

h2 {
  text-align: center;
}

.red {
  color: red;
}

form div label {
  text-align: left;
}

form div input {
  display: flex;
}