 .login {
  max-width: 300px;
  text-align: left;
  margin-top: 120px;
  margin: 120px auto;
}

.login-form {
  width: 80%;
  margin: 50px auto;
}

h2 {
  text-align: center;
}

button {
  border: 1px solid green;
  margin: 15px auto;
  width: 30%;
  display: block;
}

.red {
  color: red;
}