.add-solutions {
  max-width: 815px;
  margin: 100px auto 120px;
}

.add-solutions h4 {
  color: #3E2723;
}

form.solutions-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

textarea#content {
  width: 100%;
  margin: 20px auto;
  height: 300px;
}

form.solutions-form input[type="submit"] {
  margin: 8px auto;
  display: inline-block;
  text-align: left;
}

button.go-back {
  margin: 5px;
  color: #FBE9E7;
}