.add-solutions {
  max-width: 800px;
  margin: 100px auto 120px;
}

form.solutions-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

textarea#content {
  width: 70%;
  margin: 20px auto;
  height: 300px;
}

form.solutions-form input {
  margin: 8px auto;
  border: 1px solid black;
}

button.go-back {
  margin: 5px
}