nav {
  padding: 1%, 0;
  background-color: #F5854F;
}

nav.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

nav.header a{
  color: #FEE3D9;
  padding-right: 15px;
}

.nav-group {
  display: flex;
}

.logged-in {
  vertical-align: middle;
}

/* .h5 a, .icon a {
   padding-right: 15px;
   color: #FEE3D9;
} */
