nav {
  padding: 1%, 0;
  background-color: #FF6E40


;
}

nav.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

nav.header a{
  color: #FBE9E7;
  padding-right: 15px;
}

nav.header a:hover {
  color: #FFCCBC;
}

.nav-group {
  display: flex;
}

.logged-in {
  vertical-align: middle;
}
