nav {
  padding: 1%, 0;
  background-color: #102910;
}

nav.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  color: #fff;

}

.nav-group {
  display: flex;
}

.logged-in {
  vertical-align: middle;
}

a {
   padding-right: 15px;
}
