/* COLORS
DARK: #FF6E40
MEDIUM: #FFAB91
LIGHT:  #FBE9E7
TEXT: #BF360C
DARKTEXT: #3E2723
*/

* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}

.App {
  font-family: Montserrat;
  padding: 20px;
  color: #BF360C;
}

ul {
  list-style-type: none;
  padding-inline-start: unset;
  text-align: left;
}
a {
  text-decoration: none;  
}

header {
  margin-top: 50px;
}
.header {
  padding: 60px 40px;
}

section {
  min-height: 200px;
  padding: 30px 15px;
}

section:nth-child(even) {
  background-color: #FBE9E7;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

textarea {
  vertical-align: top;
}

button {
  margin: 15px auto;
  display: block;
  background-color: #FF6E40;
  padding: 8px 24px;
  color: #FBE9E7;
  border-radius: 5px;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:hover {
  -webkit-box-shadow: 1px 2px 6px 2px #FFAB91;
  -moz-box-shadow: 1px 2px 6px 2px #FFAB91;
  box-shadow: 1px 2px 6px 2px #FFAB91;
}

/* Style inputs */
  input[type=text], select, textarea {
  margin: 8px ;
  display: inline-block;
  border: 1px solid #3E2723;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #FBE9E7;
  height: 30px;
  padding: 10px;
}

input[type=submit] {
  background-color: #FF6E40;
  color: #FBE9E7;
  border: 1px solid #3E2723;
  padding: 8px 14px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #FFAB91;
} 

input:focus {
  outline: none;
  border: 1px solid #FF6E40;
  box-shadow: 0 0 10px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  .category-container {
    max-width: 815px;
  }

  .solution-view {
    max-width: 815px;
  }
  h2 {
    font-size: 1.8em;
  }
}